<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tszaks.timer-supervisor</string>
  <key>ProgramArguments</key>
  <array>
    <string>__TIMER_BIN__</string>
    <string>daemon</string>
    <string>--hook</string>
    <string>__TIMER_SUPERVISOR_BIN__</string>
    <string>--namespace</string>
    <string>__TIMER_NAMESPACE__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>2</integer>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/timer-supervisor.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/timer-supervisor.error.log</string>
</dict>
</plist>
